# Python
.venv/
venv/
backend/.venv/
__pycache__/
*.pyc

# Environment secrets
.env
backend/.env
frontend/.env

# Node
node_modules/
frontend/node_modules/
dist/

# Logs
logs/
*.log

# IDE
.vscode/
Dockerfile
compose.yaml
docker-compose.yml